/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/public/js/cljs-runtime/
/public/js/manifest.edn
/out*
/.repl
*.log
/.env
.idea
.lsp
.clj-kondo
/.shadow-cljs*
node_modules/